<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="">
  Name <input type="text" name="name" required/>
  <br><br>
  Email <input type="email" name="email" required/>
  <br>
    <br>
  <input type="submit">
    <br>
    <br>
    <a href="users">Display Data</a>
    <br>
    <br>
    <a href="update">Update Data</a>
    <br>
    <br>
    <a href="delete">Delete Data</a>

</form>
</body>
</html>